html {
    color: black;
    background-color: lightskyblue;
    margin: auto;
    height: 100%;
    display: block;
    width: 98%;
}

button:hover {
    cursor: pointer;
    border: 2px solid lightcoral;
}

h1 {
    -webkit-text-stroke: .5px #000;
}

h2 {
    font-size: 28pt;
    margin-top: auto;
    margin-bottom: auto;
}

th {
    display: flex;
    text-align: left;
    vertical-align: text-bottom;
    padding-right: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#name {
    font-size: 48pt;
    width: 70%;
    margin: 0px;
    
    text-align: center;
    align-self:normal;
    vertical-align:text-bottom;
}

.topBar {
    display:inline-flex;
    width: 100%;
    vertical-align: middle;
    border-bottom: 2px solid lightcoral;
}

.Bttn {
    width: 5%;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: .5rem;
    align-content: start;
    justify-items: center;
}